.login-container{
    text-align: center;
    width: 90%;
    margin: auto;

    .login-button{
        margin-top: 20px;
    }

    .logo{
        border-radius: 160px;
    width: 53%;
    margin-bottom: 10px;
    }
}

