<ion-content padding>
    <header>
        <div class="column">
          <a href="#"><img src="https://picsum.photos/300/300?image=861" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=862" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=863" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=864" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=861" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=862" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=863" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=864" alt="image"></a>
        </div>
        <div class="column">
          <a href="#"><img src="https://picsum.photos/300/300?image=851" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=852" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=853" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=855" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=851" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=852" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=853" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=855" alt="image"></a>
        </div>
        <div class="column">
          <a href="#"><img src="https://picsum.photos/300/300?image=841" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=842" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=845" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=844" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=841" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=842" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=845" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=844" alt="image"></a>

        </div>
        <div class="column">
          <a href="#"><img src="https://picsum.photos/300/300?image=831" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=832" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=833" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=834" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=831" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=832" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=833" alt="image"></a>
          <a href="#"><img src="https://picsum.photos/300/300?image=834" alt="image"></a>
        </div>
    </header>

  <div class="login-container">
      <ion-grid>
          <ion-row>
            <ion-col style="text-align: center">
                <img class="logo" src="assets/images/logo.jpg" alt="">
                <div class="login-form">
                <ion-list [formGroup]="loginForm">
                  <ion-item>
                    <ion-icon slot='start' name='contact'></ion-icon>
                    <ion-input placeholder='username' type='email' autocapitalize=off formControlName="emailaddress"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-icon slot='start' name='lock'></ion-icon>
                      <ion-input placeholder='password' type='password' (keypress)="keyPress($event.keyCode)"  formControlName="password"></ion-input>
                  </ion-item>
                  <ion-button style="margin-top: 10px" small (click)="login()" [disabled]="!loginForm.valid" >Login</ion-button>
                  <ion-label text-wrap>{{error}}</ion-label>

                  <ion-button icon-left block fill="outline" (click)="loginWithGoogle()">
                      <ion-icon class="signin-logo" name="logo-google"></ion-icon>
                      Log in with Google
                    </ion-button>

                    <ion-button icon-left block fill="outline" (click)="loginWithFacebook()">
                      <ion-icon class="signin-logo" name="logo-facebook"></ion-icon>
                      Log in with Facebook
                    </ion-button>

                    <ion-button icon-left block fill="outline" (click)="loginWithTwitter()">
                      <ion-icon class="signin-logo" name="logo-twitter"></ion-icon>
                      Log in with Twitter
                    </ion-button>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>

    
  </div>
</ion-content>
