<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div class="login-container">
    <ion-label>Propaganda</ion-label>
    <ion-item>
      <ion-icon slot='start' name='contact'></ion-icon>
      <ion-input placeholder='username' type='text'></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon slot='start' name='lock'></ion-icon>
        <ion-input placeholder='password' type='password'></ion-input>
    </ion-item>
      <ion-button class="login-button">Login</ion-button>
  </div>
</ion-content>
