.login-container{
    text-align: center;
    width: 90%;
    margin: auto;

    .login-button{
        margin-top: 20px;
    }

    .logo{
        border-radius: 160px;
    width: 53%;
    margin-bottom: 10px;
    }

    .btn-large {
        color: #fff !important;
        font-size: 1rem;
        border-radius: 0 !important;
        padding: 25px 50px !important;
        text-transform: uppercase !important;
      }
}

