<ion-content padding>
  <div class="login-container">
      <ion-grid>
          <ion-row>
            <ion-col style="text-align: center">
                <img class="logo" src="assets/images/logo.jpg" alt="">
                <ion-list class="form-dark" [formGroup]="loginForm">
                  <ion-item>
                    <ion-icon slot='start' name='contact'></ion-icon>
                    <ion-input placeholder='username' type='email' autocapitalize=off formControlName="emailaddress"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-icon slot='start' name='lock'></ion-icon>
                      <ion-input placeholder='password' type='password' (keypress)="keyPress($event.keyCode)"  formControlName="password"></ion-input>
                  </ion-item>
                  <ion-button style="margin-top: 10px" small (click)="login()" [disabled]="!loginForm.valid" >Login</ion-button>
                  <ion-label text-wrap>{{error}}</ion-label>

                  <ion-button icon-left block fill="outline" (click)="loginWithGoogle()">
                      <ion-icon name="logo-google"></ion-icon>
                      Log in with Google
                    </ion-button>

                    <ion-button icon-left block fill="outline" (click)="loginWithFacebook()">
                      <ion-icon name="logo-facebook"></ion-icon>
                      Log in with Facebook
                    </ion-button>
            
                    <!-- <ion-button icon-left block fill="outline" (click)="signup()">
                      <ion-icon name="person-add"></ion-icon>
                      Sign up
                    </ion-button> -->
                </ion-list>
            </ion-col>
          </ion-row>
      </ion-grid>

    
  </div>
</ion-content>
